@model IEnumerable<ToDo.Models.Band>

<h2>Bands</h2>

<hr />

<p>
    @Html.ActionLink("Register Band", "Create", null, new { @class = "btn btn-primary"})
</p>

@*Partial View*@
<div id="BandTable">
    @Html.Action("BandsTablePartialView")
</div>