@model IEnumerable<ToDo.Models.Event>

<style>
    body, html {
        height: 100%;
        margin: 0;
        font: 400 15px/1.8 "Lato", sans-serif;
        color: #777;
    }
</style>

@*Partial View*@
<div id="EventTable" style="padding-top:47px;">
    @Html.Action("EventsTablePartialView")
</div>