@{
    ViewBag.Title = "Home Page";
}


@*Featured Event Partial View*@
<div style="padding-top: 10px;">
    @Html.Action("FeaturedEventPartialView")
</div>

@*Featured Venues Partial View*@
<div style="padding-top: 10px;">
    @Html.Action("FeaturedVenuesPartialView")
</div>