@model IEnumerable<ToDo.Models.Venue>


<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

@*Partial View*@
<div id="VenueTable">
    @Html.Action("VenuesTablePartialView")
</div>
