@model IEnumerable<ToDo.Models.Venue>

<h2>Venues</h2>

<hr />

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

@*Partial View*@
<div id="VenueTable">
    @Html.Action("VenuesTablePartialView")
</div>
